@font-face {
    font-family: "Minecraft";
    src: url("fonts/Minecraft.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Minecraft", Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;

    background: black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px black;
}

p, h2 {
    color: white;
    text-shadow: 2px 2px 0px black;
}

#mensaje {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 0px black;
    color: white;
}

/* Fondo Minecraft */
.fondo-minecraft {
    background-image: url("../img/fondominecraft.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Confeti */
.confeti {
    position: fixed;
    width: 10px;
    height: 10px;
    top: -10px;
    animation: caer 3s linear forwards;
}

@keyframes caer {
    to {
        transform: translateY(100vh) rotate(360deg);
    }
}

/* Textos Minecraft */
.titulo-mc {
    font-size: 28px;
    color: white;
    text-shadow: 3px 3px 0px black;
    margin-bottom: 10px;
}

.texto-mc {
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px 0px black;
}

.mensaje-mc {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 0px black;
    color: white;
}




